<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */



/** @var \Magento\Review\Block\Form $block */
?>


<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$model=$objectManager->create('Training\Reviews\Model\AllReviews');
$datacollection=$model->getCollection();


 foreach ($datacollection as $data) { ?>
<div class="pager">
    <div class="nickname"><?php    echo $data->getnickname();?> </div>
    <div class="textreview"><?php    echo $data->gettextreview();
}
?>
        <form action="<?php echo $block->getFormAction() ?>" method="post">
            <input name="nickname" type="text">
            <input name="textreview" type="text">
            <input type="submit" value="Send review">
        </form>