<div>
	<?php $allnews = $this->getListNews() ?>
	<?php if($allnews && count($allnews) > 0): ?>
		<?php foreach($allnews as $news): ?>
			<div>
				<div>
					<a href="<?php echo $block->getBaseUrl() ?>news/index/view/?id=<?php echo $news->getId() ?>">
						<?php echo $news->getTitle() ?>
					</a>
					</div>
				<div><?php echo $news->getCreatedAt() ?></div>
				<div><?php echo $news->getDescription() ?></div>
			</div>
		<?php endforeach; ?>
		
		<?php if($this->getPagerHtml()): ?>
			<?php echo $this->getPagerHtml(); ?>
		<?php endif; ?>
	<?php else: ?>
		<div>
			<?php echo __('News not available'); ?>
		</div>
	<?php endif; ?>
</div>
